.App {
    color: blue;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    padding: 25px;
}

h2.ui.header {
    display: flex;
    align-items: center;
    max-height: 60px;
    flex: 1;
}

h2.ui.header > .actions {
    flex: 1;
    text-align: center;
}

.App > div.outlet {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App > div.outlet > .clientWrapper {
    border: 1px solid black;
    margin: 0 20px 0 20px;
    max-width: 400px;
    flex: 1;
}

.App > div.outlet > .clientWrapper > .removeClient {
    float: right;
}

.App .footer {
  display: flex;
  height: 50px;
}